/* Universal Presets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global CSS Variables */
  :root {
    --body-bg: #fef2dc;
    --header-text: #fef7e9;
    --body-text: #050505;
    --headings: #b65949;
    --primary: #006361;
    --primary-shadow: #0d4645;
    --secondary: #d8a25a;
    --secondary-shadow: #ab8147;
    --white: #ffffff;

    font-family: "Young Serif", serif;
    text-align: center;
  }
  #closeIcon,
  .mobile-nav,
  .desktop-nav{
    display: none;
  }
img,
svg{
  width:20px;
}
/* Custom Styles */
/* Header Styles */
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rm;
  color:var(--header-text);
  background-color: var(--primary);
}

.menu-btn {
  cursor: pointer;
  background: none;
  border:none;
  height: 24px;
  width: 24px;
  fill:var(--header-text);
  transition: fill 0.3s ease;
}

.menu-btn{
  fill: var(--secondary)
}