/* Universal Presets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global CSS Variables */
:root {
  --body-bg: #fef2dc;
  --header-text: #fef7e9;
  --body-text: #050505;
  --headings: #b65949;
  --primary: #006361;
  --primary-shadow: #0d4645;
  --secondary: #d8a25a;
  --secondary-shadow: #ab8147;
  --white: #ffffff;

  font-family: "Young Serif", serif;
  text-align: center;
}
#closeIcon,
/* .mobile-nav */
.desktop-nav{
  display: none;
}
/* BASE STYLES */
body{
  background-color: var(--body-bg);

}
main{
  
  padding: 3rem 1rem;
  background-color: var(--white);
}
section{
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;


}
h1{
font-size: 3rem;
line-height: 1;
}

h1,h2,h3{
  font-weight: 400;
}
li{
  list-style:none;

}

h3{
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}
a{
  text-decoration: none;
  color:inherit;
}