/* Universal Presets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global CSS Variables */
  :root {
    --body-bg: #fef2dc;
    --header-text: #fef7e9;
    --body-text: #050505;
    --headings: #b65949;
    --primary: #006361;
    --primary-shadow: #0d4645;
    --secondary: #d8a25a;
    --secondary-shadow: #ab8147;
    --white: #ffffff;

    font-family: "Young Serif", serif;
    text-align: center;
  }
  #closeIcon,
  /* .mobile-nav, */
  .desktop-nav{
    display: none;
  }
img,
svg{
  width:20px;
}
/* base styles */
body{
  background-color: var(--body-bg);

}
main{
  margin-inline:1rem;
  padding: 3rem 1rem;
  background-color: var(--white);
}
h1{
font-size: 3rem;
}
li{
  list-style:none;

}
a{
  text-decoration: none;
  color:inherit;
}
/* Dry  */
h1,h2{
  margin-bottom: 1rem;
  color:var(--headings)
}
/* Custom Styles */
/* Header Styles */
header{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color:var(--header-text);
  background-color: var(--primary);
}

.menu-btn {
  cursor: pointer;
  background: none;
  border:none;
  height: 24px;
  width: 24px;
  fill:var(--header-text);
  transition: fill 0.3s ease;
}

.menu-btn{
  fill: var(--secondary)
}

/* mobile nav  */
.mobile-nav{
  position:absolute;
  top:56px;
  font-size:2.5rem ;
  padding-top: 2rem;
  left:0;
  width: 100%;
  background-color: var(--primary);
  transform: translateX(100%);
  transition: transform 0.3 ease;
}

.mobile-nav.open{
  transform: translateX(0%)
}
.mobile-nav li{
  margin-bottom: 2rem;
}

.mobile-nav a{
  transition: color 0.3s ease;
}


.mobile-nav a:hover{
  color:var(--secondary)
}
/* Hero section */
.hero-img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.main-img-bg{
  position:relative;
  rotate:10deg;
  width:200px;
  height:200px;
  background-color: var(--secondary);
}


.hero-img-container img{
  width:200px;
  position: absolute;
  background-color: var(--body-bg);
}

/* media queries */
@media (min-width: 1024px) {
  .menu-btn,
  .mobile-nav{
    display: none;
  }
  .desktop-nav{
    display:block;
  }

header{
  margin-inline: 1rem;
  padding-inline:3rem;
}

.desktop-nav ul{
  display: flex;
  gap:3rem;
}
}
